@media (min-width: 991.99px) {
    #map {
        height: 500px;
    }
}

.box-shadow-hm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Shop Page */
.ayayay {
    display: flex;
    justify-content: center;
    background-color: #f8f9ff;
    position: relative;
    margin-bottom: -95px;
    position: relative;
    z-index: 2;
}

.ayayay input {
    border-radius: 3px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.ayayay input:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
}

/* Single-Product */
.nav-pills .nav-link {
    width: 100%;
}

.detail-product {
    display: flex;
}

.atribut-product {
    margin-right: 30px;
}

.atribut-product i {
    color: #000000;
}

.value-product p {
    color: #000000 !important;
    font-weight: 500;
}