@media (min-width: 991.99px) {
    #map {
        height: 500px;
    }
}

.box-shadow-hm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Shop Page */
.ayayay {
    display: flex;
    justify-content: center;
    background-color: #f8f9ff;
    position: relative;
    margin-bottom: -95px;
    position: relative;
    z-index: 2;
}

.ayayay input {
    border-radius: 3px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.ayayay input:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
}

.panel-heading a {
    color: #000000;
}

.panel-heading a::after {
    all: unset;
}

.productC {
    cursor: pointer;
    font-size: 12px;
}

/* Single-Product */
.nav-pills .nav-link {
    width: 100%;
}

.detail-product {
    display: flex;
}

.atribut-product {
    margin-right: 30px;
}

.atribut-product i {
    color: #000000;
}

.value-product p {
    color: #000000 !important;
    font-weight: 500;
}

/* All Page */
.profile-icon {
    font-size: 14px;
}

/* Profile Page */
.profile-form .form-control {
    font-weight: 600;
    color: #000000 !important;
}

.profile-form .textarea {
    width: 100%;
}

.profile-form textarea {
    width: 100%;
    padding: 20px 15px;
}

.btn-update-profil {
    margin-top: 20px;
}

.update-profil {
    border: 1px solid #dbcc8f;
    background-color: #dbcc8f;
    color: #fff;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.btn-update-profil a:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.btn-update-profil p {
    margin-top: -12px;
    visibility: hidden;
}

/* Update Profil Page */
.btn-update-profil2 p {
    margin-top: -25px;
    visibility: hidden;
}